.fill-space {
    flex: 1 1 auto;
}

md-card {
    margin: 10px 20px 20px 20px;
}

.long-text {
    white-space: pre-line;
}

md-card-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #CCC;
}

md-input-container {
    width: 100%;
}

md-input-container.non-full-width {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

md-slide-toggle {
    vertical-align: middle;
}

md-radio-button {
    overflow-x: auto;
    overflow-y: hidden;
}