<div *ngFor="let item of items; let i = index" class="registrationItem"
     #itemContainer>
	<md-card [ngSwitch]="item.type">
		<md-card-actions *ngIf="editable">
			<button md-icon-button
			        (click)="moveUp(itemContainer, item.key)"
			        [disabled]="i === 0">
				<span class="material-icons">arrow_upward</span>
			</button>

			<button md-icon-button
			        (click)="moveDown(itemContainer, item.key)"
			        [disabled]="i + 1 === items.length">
				<span class="material-icons">arrow_downward</span>
			</button>

			<md-slide-toggle (change)="toggleEditing(item.key)">
				Edit
			</md-slide-toggle>

			<span class="fill-space"></span>

			<form (submit)="changeKey(item, newKey.value)">
				<md-input-container class="non-full-width">
					<input mdInput floatingPlaceholder
					       placeholder="Key"
					       [value]="item.key"
					       #newKey>
				</md-input-container>

				<button md-button>
					Change key
				</button>
			</form>

			<button md-button
			        (click)="removeItem(item.key)"
			        color="warn">
				Delete
			</button>
		</md-card-actions>

		<div *ngSwitchCase="'Caption'">
			<md-card-title *ngIf="item.title && !currentlyEditing[item.key]">
				{{item.title}}
			</md-card-title>

			<md-card-content *ngIf="item.text && !currentlyEditing[item.key]"
			                 class="long-text"
			                 [innerHTML]="item.text">
			</md-card-content>

			<md-card-content *ngIf="currentlyEditing[item.key]">
				<p>
					Key: {{item.key}}
				</p>
				<p>
					<md-input-container>
						<input mdInput floatingPlaceholder
						       placeholder="Title"
						       [(ngModel)]="item.title">
					</md-input-container>
				</p>
				<p>
					<md-input-container>
						<textarea mdInput floatingPlaceholder
						          placeholder="Text"
						          [(ngModel)]="item.text">
						</textarea>
					</md-input-container>
				</p>
			</md-card-content>
		</div>

		<div *ngSwitchCase="'Link'">
			<p *ngIf="!currentlyEditing[item.key]">
				<a target="_blank" [href]="item.href">{{item.label || item.href}}</a>
			</p>

			<div *ngIf="currentlyEditing[item.key]">
				<p>
					Key: {{item.key}}
				</p>
				<md-input-container>
					<input mdInput floatingPlaceHolder
					       placeholder="Label"
					       [(ngModel)]="item.label">
				</md-input-container>

				<md-input-container>
					<input mdInput floatingPlaceholder
					       placeholder="Address"
					       [(ngModel)]="item.href">
				</md-input-container>
			</div>
		</div>

		<div *ngSwitchCase="'TextInput'">
			<md-card-content *ngIf="!currentlyEditing[item.key]">
				<md-input-container>
					<textarea *ngIf="item.longText"
					          mdInput floatingPlaceholder
					          [placeholder]="item.caption"
					          [required]="!item.optional"
					          [value]="inputModel[item.key]"
					          (change)="changeInputModel(item.key, $event.target.value)"
					          [disabled]="readonly"
					          [rows]="item.rows"></textarea>
					<input *ngIf="!item.longText"
					       mdInput floatingPlaceholder
					       [placeholder]="item.caption"
					       [required]="!item.optional"
					       [value]="inputModel[item.key]"
					       (change)="changeInputModel(item.key, $event.target.value)"
					       [disabled]="readonly">
					<md-hint>{{item.hint}}</md-hint>
				</md-input-container>
			</md-card-content>

			<md-card-content *ngIf="currentlyEditing[item.key]">
				<p>
					Key: {{item.key}}
				</p>

				<md-input-container>
					<input mdInput floatingPlaceholder
					       [required]="true"
					       placeholder="Caption"
					       [(ngModel)]="item.caption">
				</md-input-container>

				<md-input-container>
					<input mdInput floatingPlaceholder
					       placeholder="Hint"
					       [(ngModel)]="item.hint">
				</md-input-container>

				<md-checkbox [(ngModel)]="item.optional">Optional</md-checkbox>

				<br>

				<md-checkbox [(ngModel)]="item.longText">Long text</md-checkbox>
				<md-input-container class="non-full-width">
					<input mdInput floatingPlaceholder
					       [required]="true"
					       placeholder="Rows"
					       [(ngModel)]="item.rows"
					       [disabled]="!item.longText"
					       type="number">
					<md-hint>This only affects how large the user’s text area appears (which they can change).</md-hint>
				</md-input-container>
			</md-card-content>
		</div>

		<div *ngSwitchCase="'SingleChoice'">
			<md-card-content *ngIf="!currentlyEditing[item.key]">
				<p class="long-text" [innerHTML]="item.caption"></p>

				<md-radio-group [value]="inputModel[item.key]"
				                (change)="changeInputModel(item.key, $event.value)">
					<md-list>
						<md-list-item *ngFor="let choice of item.choices">
							<md-radio-button [value]="choice.key" [name]="item.key" [disabled]="readonly">
								{{choice.caption}}
							</md-radio-button>
						</md-list-item>
					</md-list>
				</md-radio-group>
			</md-card-content>

			<md-card-content *ngIf="currentlyEditing[item.key]">
				<p>
					Key: {{item.key}}
				</p>

				<md-input-container>
					<textarea mdInput floatingPlaceholder
					          [required]="true"
					          placeholder="Caption"
					          [(ngModel)]="item.caption">
					</textarea>
				</md-input-container>

				<h2>Options:</h2>

				<p>
					<button md-icon-button
					        (click)="addChoice(item)">
						<span class="material-icons">add_circle</span>
					</button>
				</p>

				<md-list>
					<md-list-item *ngFor="let choice of item.choices">
						<button md-icon-button
						        (click)="removeChoice(item, choice.key)">
							<span class="material-icons">remove_circle</span>
						</button>

						<md-input-container>
							<input mdInput floatingPlaceholder
							       [required]="true"
							       placeholder="Key"
							       [(ngModel)]="choice.key">
						</md-input-container>

						<md-input-container>
							<input mdInput floatingPlaceholder
							       [required]="true"
							       placeholder="Caption"
							       [(ngModel)]="choice.caption">
						</md-input-container>
					</md-list-item>
				</md-list>
			</md-card-content>
		</div>

		<div *ngSwitchCase="'MultipleChoice'">
			<md-card-content *ngIf="!currentlyEditing[item.key]">
				<p class="long-text" [innerHTML]="item.caption"></p>

				<md-list>
					<md-list-item *ngFor="let choice of item.choices">
						<md-checkbox [value]="inputModel[choice.key]"
						             (change)="changeInputModel(choice.key, $event.checked)"
						             [disabled]="readonly">
							{{choice.caption}}
						</md-checkbox>
					</md-list-item>
				</md-list>
			</md-card-content>

			<md-card-content *ngIf="currentlyEditing[item.key]">
				<p>
					Key: {{item.key}}
				</p>

				<md-input-container>
					<textarea mdInput floatingPlaceholder
					          [required]="true"
					          placeholder="Caption"
					          [(ngModel)]="item.caption">
					</textarea>
				</md-input-container>

				<h2>Options:</h2>

				<p>
					<button md-icon-button
					        (click)="addChoice(item)">
						<span class="material-icons">add_circle</span>
					</button>
				</p>

				<md-list>
					<md-list-item *ngFor="let choice of item.choices">
						<button md-icon-button
						        (click)="removeChoice(item, choice.key)">
							<span class="material-icons">remove_circle</span>
						</button>

						<md-input-container>
							<input mdInput floatingPlaceholder
							       [required]="true"
							       placeholder="Key"
							       [(ngModel)]="choice.key">
						</md-input-container>

						<md-input-container>
							<input mdInput floatingPlaceholder
							       [required]="true"
							       placeholder="Caption"
							       [(ngModel)]="choice.caption">
						</md-input-container>
					</md-list-item>
				</md-list>
			</md-card-content>
		</div>
	</md-card>
</div>
