<md-dialog-content color="primary">{{data.submitQuestion}}</md-dialog-content>

<md-dialog-actions>
	<button md-raised-button [md-dialog-close]="true" color="primary">{{data.submit}}</button>
	<button md-raised-button [md-dialog-close]="false" color="warn">{{data.abort}}</button>
</md-dialog-actions>
