md-slide-toggle {
    vertical-align: middle;
}

md-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

md-toolbar img {
    width: 40px;
    margin-right: 20px;
}

.toolbar-heading {
}

.fill-space {
    flex: 1 1 auto;
}

.toolbar-actions {
    overflow-x: auto;
    overflow-y: hidden;
}
