<md-toolbar color="primary">
    <span *ngIf="!previewMode" class="toolbar-heading">
	    Conference data
    </span>

	<img *ngIf="previewMode" [src]="conference?.avatar">

	<span *ngIf="previewMode">
		{{conference?.name}}
	</span>

	<span class="fill-space"></span>

	<div class="toolbar-actions">
		<md-slide-toggle (change)="previewMode = $event.checked">
			Preview
		</md-slide-toggle>
	</div>
</md-toolbar>

<md-card *ngIf="!previewMode">
	<md-card-content>
		<md-input-container>
			<input mdInput placeholder="Name" [(ngModel)]="conference.name">
		</md-input-container>

		<md-input-container>
			<input mdInput placeholder="Key" [(ngModel)]="conference.key">
		</md-input-container>

		<md-input-container>
			<input mdInput placeholder="Place" [(ngModel)]="conference.place">
		</md-input-container>

		<md-input-container>
			<input mdInput placeholder="Date" [(ngModel)]="conference.date">
		</md-input-container>

		<md-input-container>
			<input mdInput placeholder="Picture URL" [(ngModel)]="conference.avatar">
		</md-input-container>
	</md-card-content>
</md-card>

<md-toolbar *ngIf="!previewMode" color="primary">
	<span class="toolbar-heading">Registration items/questions</span>

	<span class="fill-space"></span>

	<div class="toolbar-actions">
		<button md-button (click)="questionnaire.addItem('Caption')">Caption</button>
		<button md-button (click)="questionnaire.addItem('Link')">Link</button>
		<button md-button (click)="questionnaire.addItem('TextInput')">Text input</button>
		<button md-button (click)="questionnaire.addItem('SingleChoice')">Single choice</button>
		<button md-button (click)="questionnaire.addItem('MultipleChoice')">Multiple choice</button>
	</div>
</md-toolbar>

<confreg-questionnaire #questionnaire
                       [conferenceKey]="conference.key"
                       [editable]="!previewMode"
                       [items]="conference.registration"
                       (onEdit)="edited($event)">
</confreg-questionnaire>
