<form (submit)="confirm($event.target)">
	<md-toolbar color="primary" class="top">
		<img *ngIf="conference"
		     [src]="conference?.avatar"
		     alt="..."
		     style="width: 40px;">

		<div class="flex">
			<span> {{conference?.name}} </span>

			<span>{{labels.headline}}</span>
		</div>
	</md-toolbar>

	<p *ngIf="succesfullySaved">
		{{labels.registrationSuccessful}}
	</p>

	<confreg-questionnaire [conferenceKey]="conference?.key"
	                       [items]="conference?.registration"
	                       [readonly]="readonly"
	                       (onChange)="inputModel = $event"
	                       *ngIf="!succesfullySaved"></confreg-questionnaire>

	<md-toolbar class="bottom"
	            *ngIf="!succesfullySaved">
	    <span>
	      <button color="primary" md-raised-button type="submit">
	        {{labels.submit}}
	      </button>
	    </span>
		<span class="fill-space"></span>
		<span>
	      <button *ngIf="conference?.showBackButton"
	              color="warn" md-raised-button type="button"
	              (click)="navigateBack()">
	        {{labels.back}}
	      </button>
	    </span>
	</md-toolbar>
</form>
