p {
    text-align: center;
    padding: 20px;
}

.fill-space {
    flex: 1 1 auto;
}

md-toolbar {
    overflow: auto;
    position: sticky;
    z-index: 10;
}

md-toolbar.top {
    top: 0;
}

md-toolbar.bottom {
    bottom: 0;
}

/deep/ md-toolbar-row .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
}

.registrationItem {
    margin-top: 20px;
    margin-bottom: 20px;
}

md-input {
    width: 100%;
}

md-toolbar img {
    margin-right: 20px;
}

md-sidenav {
    position: sticky;
    top: 0;
}

/deep/ md-sidenav-container > md-sidenav {
    width: 33%;
    padding: 10px;

    /* Flexbox for vertical alignment */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

:host md-card {
    overflow: auto;
}
