<md-toolbar color="primary" class="conference-list-toolbar">
	<span>Conference Registration</span>
	<span>Junge Sprachwissenschaft e. V.</span>
</md-toolbar>

<md-toolbar class="small-font">
	<span class="fill-space"></span>

	<button md-button
	        (click)="toggleSignInForm()"
	        [disabled]="loginState === 'Trying'"
	        *ngIf="loginState !== 'Successful'">
		<span *ngIf="showSignInForm">Cancel</span>
		<span *ngIf="!showSignInForm">Admin</span>
	</button>

	<span *ngIf="loginState==='Successful'" class="iconAndText">
		<i class="material-icons">
			thumb_up
		</i>

		Login successful!
	</span>

	<md-toolbar-row *ngIf="showSignInForm && loginState !== 'Successful'">
		<span class="fill-space"></span>

		<md-spinner *ngIf="loginState === 'Trying'"></md-spinner>

		<form (submit)="signIn()" *ngIf="loginState !== 'Successful'">
			<md-input-container>
				<input mdInput type="password"
				       placeholder="Password"
				       [(ngModel)]="password"
				       name="password">
			</md-input-container>

			<span *ngIf="loginState==='Unsuccessful'">
				<i class="material-icons">thumb_down</i>
			</span>

			<button md-button color="primary" type="submit">
				Sign in
			</button>
		</form>
	</md-toolbar-row>
</md-toolbar>

<md-nav-list>
	<md-list-item *ngFor="let conf of conferences" [routerLink]="['/', conf.key]">
		<img md-list-avatar [src]="conf.avatar" alt="Conference logo">

		<a md-line>{{conf.name}}</a>

		<p md-line>
			<span> {{conf.date}} </span>
			<span class="demo-2"> -- {{conf.place}} </span>
		</p>

		<button md-icon-button
		        *ngIf="loginState === 'Successful'"
		        [routerLink]="['/editor', conf.key]">
			<span class="material-icons">edit</span>
		</button>
	</md-list-item>
</md-nav-list>
