.fill-space {
    flex: 1 1 auto;
}

md-toolbar {
    overflow: auto;
}

/deep/ .conference-list-toolbar md-toolbar-row {
    justify-content: space-between;
    flex-wrap: wrap;
}

md-toolbar.small-font {
    font-size: 16px;
}

.iconAndText * {
    vertical-align: text-bottom;
}

md-spinner {
    height: 50%;
}